@font-face {
	font-family: 'Bradford Light';
	src: url('/fonts/BradfordLL-Light.otf') format('opentype'), url('/fonts/BradfordLL-Light.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Bradford Medium';
	src: url('/fonts/BradfordLL-Medium.otf') format('opentype'), url('/fonts/BradfordLL-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Bradford Regular';
	src: url('/fonts/BradfordLL-Regular.otf') format('opentype'), url('/fonts/BradfordLL-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url('/fonts/HelveticaNeueRoman.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
	font-display: swap;
}
