@font-face {
	font-family: 'Arizona Flare Light';
	src: url('/fonts/ABCArizonaFlare-Light.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url('/fonts/HelveticaNeueRoman.otf') format('opentype');
	font-display: swap;
}